body{
  background-color: rgb(86, 86, 85);
}

#Page1 {
  display: block;
}

#Page2 {
  display: none;
}

#Page3 {
  font-family: verdana;
  margin: 10px auto;
  padding: 30px;
  background: rgb(174, 179, 187);
  font-size: 14px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  border-radius: 10px;
  display: none;
  justify-content: center;  
}

#navegador {
  text-align: center;
}

#navegador ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(62, 186, 218)
}

#navegador ul li {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navegador ul li a {
  color: white;
}

.conth1{
  border: 2px solid rgb(101, 157, 247);
  background-image: linear-gradient(to right, rgb(134, 126, 126) , rgb(75, 161, 210));
  }
  
.container1{
  display: flex;
  background: rgba(120, 117, 119, 0.533);
}

.container2{
  display: flex;
  background: rgba(120, 117, 119, 0.533);
}

.container3{
  display: flex;
  background: rgba(120, 117, 119, 0.533);
}

.intro{
  background-color: lightgrey;
  border: 2px solid rgb(101, 157, 247);
  padding: 5px;
  padding-bottom: 20px;
  margin: 5px;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  font-weight:bold;
}

.imagen{
  display: flex;
  justify-content: center;
 }

.contacto{
  display: flex;
  justify-content: center;
}

.perfil{
  flex-basis: 1000px;
  background-color: lightgrey;
  border: 2px solid rgb(101, 157, 247);
  padding-top: 10px;
  padding: 15px;
  margin: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.perfil2{
  flex-basis: 1000px;
  background-color: lightgrey;
  border: 2px solid rgb(101, 157, 247);
  padding-top: 10px;
  padding: 15px;
  margin: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1{text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 50px;
    color: rgb(205, 225, 237);
    letter-spacing: 25px;
    }

h2{
    color: rgb(97, 175, 224);
    font-family: "Lucida Console", "Courier New", "strong", monospace;
    font-size: 18px;
    margin: 2px;
    }
p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    text-align: justify;
    line-height: 1.2;
    margin: 5px;
        }

img {
    border-radius: 50%;
    border-style: solid;
  }
li {font-family: "Lucida Console", "Courier New", monospace;
   font-size: 14px;
   font-weight: bold}
  
